- history = StaticBlock.find_by_id 5
- if history
  .cf
    .block{:style => "margin: 300px auto 140px; width: 685px; "}
      %h1= history.title
      = raw history.content



.cf
  - client = StaticBlock.find_by_id 6
  - if client
    .block.inline{:style => "margin: 140px 0 0 25%; width: 220px"}
      %h1=client.title
      = raw client.content

  - clients = Client.all
  - if clients.present?
    .block.images.scroll-block.right{:style => "margin: 140px auto; right: 25%"}
      %ul.cf
        - clients.each do |cl|
          %li
            = image_tag cl.image(:medium)
            %span=cl.title

.cf
  - expert = StaticBlock.find_by_id 7
  - if expert
    .block.inline{:style => "margin: 140px 0 0 20%; width: 350px"}
      %h1=expert.title
      = raw expert.content


  - experts = Specialist.all
  - if experts.present?
    .block.inline.experts.sliders{:style => "margin: 140px 0 200px 40px;"}
      %ul
        - experts.each do |ex|
          %li.slide.a-show
            = image_tag ex.avatar(:medium)
            .inline
              %span= ex.name
              %em= ex.position
            .more.cf
              %a.item-close{:href => "#"} ×
              .controls
                .control.prev  <
                .control.next >
              .item-img
                = image_tag ex.avatar(:medium)
              .item-info
                %h3= ex.name
                %span.position= ex.position
                .content
                  = raw ex.content




