- line = StaticBlock.find_by_id 9
- if line
  .cf
    .block.right{:style => "width: 40%; margin: 20% 30% 0 0"}
      %h1= line.title
      = raw line.content


- line_of_work = LineOfWork.all
- if line_of_work
  .sliders.line_of_works.cf{ :scroll => "true" }
    - line_of_work.each do |line|

      .block.right.slide{:class => "line_of_work_#{line.id}" }
        %h1= line.title
        = raw line.content
        - if line.popup_content.present?
          = link_to "Подробнее", "#", :class => "a-show"
          .more.cf
            %a.item-close{:href => "#"} ×
            .controls
              .control.prev  <
              .control.next >
            .item-info
              %h3= line.title
              = raw line.popup_content
              .help-block
                - line.projects.each do |pr|
                  %span=pr.title



- other_line = StaticBlock.find_by_id 10
- if other_line
  .cf
    .block.right.line_of_works{:style => "width: 55%; margin: 15% 35% 240px 0"}
      %h1= other_line.title
      = raw other_line.content




.cf
  .left
    - experience = StaticBlock.find_by_id 8
    - if experience
      .block#summary3{:style => "margin: 0 0 0 25%; width: 320px"}
        %h1=experience.title
        = raw experience.content


    - project_general = Project.get_general
    - if project_general
      .block.left.project_general{:style => "margin: 100px 0 0 23%; width: 290px"}
        %h1=project_general.title
        = image_tag project_general.project_images.first.image(:big)









  - projects = Project.all
  - if projects.present?
    .sliders.block.images.scroll-block.right.projects#scroll3{:style => "margin: 0 auto 100px auto; right: 25%"}
      %ul.cf
        - 4.times do
          - projects.each do |project|
            %li.slide.a-show
              = image_tag project.project_images.first.image(:medium)
              %span=project.title
              .more.cf
                %a.item-close{:href => "#"} ×
                .controls
                  .control.prev  <
                  .control.next >
                .item-info
                  %h3= project.title
                  .content
                    = raw project.content
                  .help-block
                    %span
                      = project.line_of_work.title



.c