.cf{:style => "margin: 250px 0 150px 0"}
  .left#summary3.sf{:style => "width: 320px; margin: 0 0 0 18%;", :target => "scroll3"}
    - experience = StaticBlock.find_by_id 8
    - if experience
      .block.inline{:style => " width: 320px"}
        %h1=experience.title
        = raw experience.content


    - project_general = Project.get_general
    - if project_general
      .block.inline.project_general{:style => "margin: 100px 0 100px 10%; width: 290px"}
        .a-show-project{:target => project_general.id }
          %h1=project_general.title
          = image_tag project_general.project_images.first.image(:big)





  - projects = Project.all
  - if projects.present?
    .sliders.block.images.scroll-block.right.projects#scroll3{:style => "margin: 0 8% 0 0;"}
      %ul.cf
        - projects.each do |project|

          %li.slide.a-show{ :id => "project_#{project.id}" }
            = image_tag project.project_images.first.image(:medium) if not project.project_images.blank?
            %span=project.title
            .more.cf
              %a.item-close{:href => "#"} ×
              .controls
                .control.prev  <
                .control.next >
              .item-info
                %h3= project.title
                .content
                  = raw project.content
                .help-block
                  %span
                    = project.line_of_work.try(:title)


= render :partial => "footer"